SocketUseSSL=Y
EnabledProtocols=TLSv1.2,TLSv1.3

[default]
FileStorePath=target/qfj/store
FileLogPath=target/qfj/log
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ReconnectInterval=5
ResetOnLogout=Y
ResetOnDisconnect=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValue=N
AllowUnknownMsgFields=Y

; [session]
; BeginString=FIX.4.4
; ConnectionType=initiator
; SocketConnectHost=10.10.8.131
; SocketConnectPort=9881
; SenderCompID=SOSUVTEST
; TargetCompID=ANSUTEST

[session]
BeginString=FIX.4.2
ConnectionType=initiator
SocketConnectHost=10.10.8.131
SocketConnectPort=9881
SenderCompID=BANZAI
TargetCompID=SOSUV_SERVER
